/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#profilepic {
  position: relative;
  float: left;
  left: 71px;
} 

h1 {
  font-size: 40px;
}


h4 {
  left: 50px;
  top: 654px;
  position: relative;
  font-size: 2.28rem;
  line-height: 0px;
  margin: 0px;
}


/* Contact */
#contact-form ul {
  margin-bottom: 20px;

}

#contact-form li {
  margin-bottom: 10px;
}

label, 
input [type=text],
input [type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea{
  height: 35px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 14px;
}

textarea {
  height:200px;
}

input[type=submit] {
  background: white;
  border: 0 none;
  color: navy;
  font-size: 18px;
  padding: 10px 30px;
  cursor: pointer;

}  

h5 {
  color: white;
  font-weight: 600;
}
.row .col.s12 {
color:pink; 
}

.light {
color: black;
}